@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.brand{
    font-size: 2rem;
   font-weight: 700;
}
/* shared style */
.display-flex{
    display: flex;
}
.orange{
 color: #FEA301;
}
.skyblue{
    color: #01ACFD;
}
.aqua{
    color: #05D4DF;
}
.purple{
    color: #5D58EF;
}
.btn-ptimary{
    background-color: #FEA301;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    width: 190px;
    height: 48px;
    margin-left: 160px;
    /* list-style: none; */
}

.navbar{
  gap: 120px;
 justify-content: space-between;
 align-items: center;
  
  
}
.nav-links{
   gap: 28px;
   
}
.nav-item{
    list-style: none;
    gap: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
}
.navbar{
    max-width: 1150px;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    
}
.banner{
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 200px;
}
.banner-title{
    margin-bottom: 24px;
}
.banner-description{
    margin-bottom: 24px;
}
.banner-content{
    max-width: 640px;
    align-items: center;
    line-height: auto;
    
 
}
.black{
    background-color: black;
    color: #FFFFFF;
     font-size: 15px;
    height: 45px;
    width: 180px;
    border: none;
    border-radius: 12px;
}
.banner-pro-pic{
    width: 100%;
    margin-left: 200px;
    margin-right: 0;
    padding-right: 0;
}
.menu-bar{
display: none;
font-size: 24px;
cursor: pointer;

}
/* main{
    max-width: 1160px;
} */
.title{
    font-size: 2.8rem;
    font-weight: 700;
   
}

main{
    max-width: 1140px;
margin: 0 auto;
}

.curriculam{
    background-image: url(../assets/bg.png);
    padding: 100px 130px;
    text-align: center;
    margin-top: 20px;
    
   
}


.curriculam-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 20px;

}
.card-box{
    padding-top: 20px;
    gap: 20px;
    border-radius: 18px;
    padding-bottom: 40px;
}
.card-title{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 33px;
}
.card-description{
    font-weight: 500;
font-size: 10px;
margin-bottom: 33px;
padding: 0px 40px;
}

.link{
    text-decoration: none;
   padding-bottom: 30px;
}
.arrow{
    font-size: 2rem;
    color: #FFFFFF;
    background-color: #FEA301;
    border-radius: 50%;
    width: 50px;
    height: 50px;
   /* justify-content: center; */
}
.arrow-container{
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin: 30px auto;
}
.arrow:hover{
    background-color: rgb(34, 175, 34);
    transform: scale(1.2);
}

.card-box1{
    background: linear-gradient(to bottom, rgba(222, 245, 255, 0.95) 0%, rgba(255, 255, 255, 1) 40%);
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    
}
 
.card-box2{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 1) 40%);
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    
}
.card-box3{
background: linear-gradient(to bottom, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);

}
/* .stories-c{
    position: relative;
} */


.bttn{
border-radius: 47px;
background-color: #05D4DF;
width: 160px;
height: 35px;
border: none;
position: absolute;
top: 318px;
left: 30px;
}
.btnfa{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    /* border: 1px solid black; */
    position: relative;
    border-radius: 20px;
    margin-left: 20px;
    /* padding-top: 10px; */
}



.activities-container{
    display: flex;
    width: 1160px;
    height: 631px;
}
.father{
    width: 50%;
    height: 100%;
}
.mother{
    
    display: flex;
    gap: 10px;
   
}
.mother > .pic{
    width: 50%;
}





    
   
  
.our-stories{
  /* border: 2px  solid red; */
    height: 900px;
text-align: center;

background: linear-gradient(to top, rgba(255, 244, 220, 1) 70%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
     padding: 0 30px;
     margin-bottom: 0;
}

.row{
    /* padding-top: 50px; */
   margin: 0px auto;
   justify-content: center;
   height: 600px;
    padding-right: 10px;
    display: flex;
    gap: 5px;
    border-top: 30px;
   
   
  
}
.row > div{
    flex: 1;
}
.stry-ttl{
    padding: 50px 0;
}

.row-title{
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}

.square-collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    height: 600px;
    /* border: 2px solid yellow; */
    width: 70%;
    
   
}


.bttn1fa{
    position: relative;
}
.bttn1{
    position: absolute;
    top: 140px;
    left: 20px;
    border: none;
    border-radius: 40px;
    background-color: rgb(95, 150, 40);
    color: #FFFFFF;
    height: 20px;
    width: 130px;
}
.bttn2fa{
    position: relative;
}
.bttn2{
    position: absolute;
    top: 140px;
    left: 20px;
    border: none;
    border-radius: 40px;
    background-color: rgb(155, 89, 217);
    color: #FFFFFF;
    height: 20px;
    width: 130px;
}
.bttn3fa{
    position: relative;
}
.bttn3{
    position: absolute;
    top: 140px;
    left: 20px;
    border: none;
    border-radius: 40px;
    background-color: rgb(95, 150, 40);
    color: #FFFFFF;
    height: 20px;
    width: 130px;
}
.bttn4fa{
    position: relative;
}
.bttn4{
    position: absolute;
    top: 142px;
    left: 20px;
    border: none;
    border-radius: 40px;
    background-color: rgb(95, 150, 40);
    color: #FFFFFF;
    height: 20px;
    width: 130px;
}
.more{
    margin-top: 60px;
}

.square-content h3{
    padding-top: 10px;
}
.square-content{
    /* padding: 0; */
    margin: 0px auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    gap: 5px;
}
.square-content img{
  max-width: 100%; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.square-content .details{
    padding: 20px 10px;
    font-size: 15px;
    font-weight: 700;
}

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width:576px){
   .navbar li
   {
    display: none;
   }
.brand{
display: none;
}
   

   .banner{
    margin: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
   
   }
   .banner-pro-pic{
    margin: 20px;
    justify-content: center;
    align-items: center;
   
   }


   .menu-bar {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
   }

   .curriculam{
    /* width: 100%; */
    margin: 0 12px;
    padding: 30px 0px;

   }
   .title{
    margin-bottom: 15px;
   }
   .curriculam-container{
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    
   }

   .arrow-container{
    display: none;
   }


   .btnfa{
    display: none;
   }
   .square-collage{
    grid-template-columns: repeat(2,1fr);
    max-width: 95%;
    gap: 5px;

   }
   .square-content{
    /* gap: 20px; */
   }
}